.card-container{
    width: 200px;
    height: 260px;
    margin-bottom: 20px;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    user-select: none;
}
/* .card-container:hover{
    transform: scale(1.1);
    transition: all 200ms ease-in;
} */
.card {
    width: 100%;
    height: 100%;
}
.card figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 3%;
}
.card img {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 3%;
}
.card .front {
    background: red;
}
.card .back {
    background: linear-gradient(-45deg,
    #655197 25%,
    #ffffff 25.1%,
    #ffffff 50%,
    #655197 50.1%,
    #655197 75%,
    #ffffff 75.1%,
    #ffffff 0);
    background-size: 40px 40px;
    transform: rotateY( 180deg );
}
.flipped {
    transform: rotateY( 180deg );
}
.card-container[data-position='0']{
    right: 0;
}
.card-container[data-position='1']{
    right: 240px;
}
.card-container[data-position='2']{
    right: 480px;
}
.card-container[data-position='3']{
    right: 720px;
}
.card-container[data-position='4']{
    right: 960px;
}
.card-container[data-position='5']{
    right: 1200px;
}
.card-container[data-position='6']{
    top: 300px;
    right: 0;
}
.card-container[data-position='7']{
    top: 300px;
    right: 240px;
}
.card-container[data-position='8']{
    top: 300px;
    right: 480px;
}
.card-container[data-position='9']{
    top: 300px;
    right: 720px;
}
.card-container[data-position='10']{
    top: 300px;
    right: 960px;
}
.card-container[data-position='11']{
    top: 300px;
    right: 1200px;
}
.card-container[data-position='12']{
    top: 600px;
    right: 0px;
}
.card-container[data-position='13']{
    top: 600px;
    right: 240px;
}
.card-container[data-position='14']{
    top: 600px;
    right: 480px;
}
.card-container[data-position='15']{
    top: 600px;
    right: 720px;
}
.card-container[data-position='16']{
    top: 600px;
    right: 960px;
}
.card-container[data-position='17']{
    top: 600px;
    right: 1200px;
}
